<div class="portfolio-container">
    <h2 class="portfolio-title">Full Portfolio</h2>
    <div class="portfolio-display">
        {{#each project}}
        <div class="portfolio-project">
            <h3>{{this.title}}</h3>
            <img src={{this.image}} class="portfolio-project-image">
            <p>{{this.text}}</p>
            <p><a href={{this.liveUrl}}>Live Version</a></p>
            <p><a href={{this.gitUrl}}>Github</a></p>
        </div>
        {{/each}}
    </div>
</div>